@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


*{
  margin: 0;
  padding: 0;
}


body{
  background:black ;
  color: yellow;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.logo-image {
  width: 40px; 
  height: 40px; 
  margin-right: 8px; 
  position: relative;
  top:10px;
  border-radius: 50%
}

.Shops{
  width: 1280px;
  margin: 50px auto;
}
header{
  position: relative;
}

.logo{
  font-weight: 600;
  font-size: 20px;
}
.li:hover{
  opacity: 0.5;
}

header .shop-card-button{
  padding: 5px;
  float:right;
  cursor: pointer;
  transition: color,  transfor 500ms ease;
}

header .shop-card-button:hover,
header .shop-card-button:active{
color: red;
transform: scale(1.5);
}
.nav {
  float:right;
  list-style: none;
}

.li{
  display: inline;
  margin-left: 25px;
  cursor: pointer;

}


.order-now {
  cursor: pointer;
  margin-top: 20px;
  padding: 10px;
  list-style: none;
  color: #1d1d1e;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;
}
.order-now:hover{
  color: #5e5e5e;
  
}

.order-form {
  position: fixed;
  color: #1d1d1e;
  top: 25%;
  width: 100%;
  max-width: 400px;
  right: 35.5%;
  border-radius: 10px;
  background-color: #cccccc;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 2000;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.order-form h2 {
  margin-top: 0;
}

.order-form form {
  display: flex;
  flex-direction: column;
}

.order-form label {
  margin-bottom: 10px;
}

.order-form input,
.order-form select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; 
  box-sizing: border-box;
}

.order-form select:focus,
.order-form select:active {
  border-color: #ccc; 
  outline: none; 
  padding: 5px;
}

.order-form button[type="submit"] {
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.order-form button[type="submit"]:hover {
  background-color: #218838;
}

.order-form button[type="button"] {
  padding: 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.order-form button[type="button"]:hover {
  background-color: #c82333;
}

.presentation {
  margin: 50px 0;
  width: 100%;
  height: 500px;
  position: relative;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: aliceblue;
  transition: left 1s ease; 
}


.presentation .img {
  width: 50%;
  line-height: 0;
}

.sidebar {
  position: fixed;  
  color: #1d1d1e;
  top: 0;
  left:-400px;
  width: 300px;
  height: 100%;
  background: #5b5b5b;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease;
  padding: 20px;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.kat{
  list-style: none; 
  position: absolute;
  color: #1d1d1e;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 500ms ease;
  width: 50px;
  padding: 3px;
  right: 40px;
}

.kat:hover{
  color: #ff0015;
  background: yellow;
  transform: scale(1.1);
}

.prev, .next {
  position: absolute;
  list-style: none;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #333;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0);
}

.prev {
  left: 10px;
  width: 45%;
  height: 95%;
}

.next {
  right: 10px;
  width: 45%;
  height: 95%;
}



.text-overlay {
  position: relative;
  z-index: 1;
}

.text1 {
  position: absolute;
  top: 100px;
  left: 50px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

.text2 {
  position: absolute;
  top: 150px;
  left: 50px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}


header .shop-cart{
  position: absolute;
  top: 25px;
  right: 0;
  width: 450px;
  min-height: 80px;
  background: #cccccc;
  -webkit-box-shadow:4px 5px 15px -7px #606060;
  box-shadow: 4px 5px 15px -7px #606060;
  z-index: 1000;
  border-radius: 15px;
  padding: 20px;
  padding-bottom: 0;
}

.lifo{
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}

header .shop-cart .item{
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
header .shop-cart .item img{
  width: 70px;
  float: left;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 15px;
}
header .shop-cart .item h2{
  font-size: 20px;
  margin-bottom: 10px;
}
header .shop-cart .item b{
  color: rgb(0, 134, 0);
  font-weight: 600;
}
header .shop-cart{
  font-size: 20px;
  color:#1d1d1e;
  margin-bottom: 20px;
}

header .shop-cart .item .delete-icon{
  color: #ca525c;
  float: right;
  position: relative;
  top: -25px;
  cursor: pointer;
  transition: color,  transfor 500ms ease;
}

header .shop-cart .item .delete-icon:hover{
  color: #dc1929;
  transform: scale(1.5);
}

header .shop-cart .summa{
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.categories div{
  background: #8d8d8d;
  top:20px;
  color: #1d1d1e;
  border-radius: 5px;
  padding: 10px 10px;
  margin-bottom: 25px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 500ms ease;
}
.icon-container {
  display: flex;
  justify-content: space-around;
  gap: 20px; 
}

.icon-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}


.icon-container img:hover {
  transform: scale(1.1); 
  box-shadow: 0px 0px 10px rgb(255, 255, 255);

}


.categories div:hover{
  transform: scale(1.1);
  background: yellow;
  box-shadow: 0px 0px 50px rgba(254, 254, 254, 0.945);
}


main{
  display: flex;
  width: 100%;
  padding: 35px 0 0;
  flex-wrap: wrap;
  justify-content:space-between;
}

 main .item{
  width: 30%;
  margin-bottom: 50px;
  background: #8d8d8d;
  overflow: hidden;
  position: relative;
  padding-bottom: 50px;
  border-radius: 15px;
}

.full-item {
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  overflow: auto;
}

.full-item > div {
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: #fff;
  border-radius: 9px;
}


main .item img,
.full-item img{
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
  cursor: pointer;
}

main .item img:hover{
  transform: scale(1.05)
}

main h2,.full-item h2,
main p, .full-item p,
main b , .full-item b{
  margin: 10px 20px;
  color: #333;  
}

main b,
.full-item b {
  color: #007d0a;
}

main .add-to-cart,
.full-item .add-to-cart{
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #2d2d2d;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #ffff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
}
main .add-to-cart:hover,
.full-item .add-to-cart:hover{
  background: #dcca00b5;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}


.footer {
  background-color:#8d8d8d;
  padding: 40px 0; 
  border-radius: 5px;
}

.footer__top {
  padding-bottom: 20px; 
}

.footer__bottom {
  background-color: #00000052;
  color: #ffffff; 
  padding: 20px 0; 
}
.footer p{
  color: #1d1d1e; 
  font-size: 16px; 
}

.container {
  width: 100%; 
  padding-right: 15px; 
  padding-left: 15px;
  margin-right: auto; 
  margin-left: auto; 
}

.row {
  display: flex; 
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-4 {
  flex: 0 0 33.333333%; 
  max-width: 33.333333%;
  padding-right: 15px;
  padding-left: 15px; 
}

.col-md-12 {
  flex: 0 0 100%;
  max-width: 100%; 
  padding-right: 15px; 
  padding-left: 15px; 
}

.reviews-section{
  color: #1d1d1e;
  padding: 20px;

}

.reviews-section:hover{
  color: #1d1d1e;
  padding: 20px;
  list-style: none  ;

}


.add-review{
  border-radius: 5px;
  background-color: 1px white;
  list-style: none;
}

.reviews-list{
  border-radius: 5px;
  font-weight: 400;
  list-style: none;
  padding: 10px;
}
.li-dob{
  list-style: none;
  padding: 4px;
}

.li-dob:hover{
  background: yellow;
  color: #1d1d1e;
  width: 90px;
  border-radius: 5px;
  font-weight: 300;
  padding: 4px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #646464;
  border: none;
  cursor: pointer;
}

.quantity-controls span {
  margin: 0 10px;
  font-size: 16px;
}
.addd{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:5px ;
  width: 30px;
  height: 30px;
  bottom: 10px;
  padding: 5px;

}
